In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import os
from sqlalchemy import create_engine
%matplotlib inline

In [12]:
import plotly 
plotly_username = os.environ['plotly_username']
plotly_api_key =os.environ['plotly_api_key']
plotly.tools.set_credentials_file(username= plotly_username, api_key= plotly_api_key)

In [13]:
connection_string = os.environ['psql_ec2']
conn = create_engine(connection_string)

In [14]:
pd.read_sql_query('''SELECT * FROM intakes LIMIT 5''', conn)

,id,animal_id,name,datetime,monthyear,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,0,A748291,*Madison,5/1/17 14:26,5/1/17 14:26,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,Pit Bull Mix,Black
1,1,A730601,None,7/7/16 12:11,7/7/16 12:11,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,Domestic Shorthair Mix,Blue Tabby
2,2,A748238,None,5/1/17 10:53,5/1/17 10:53,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,Bichon Frise Mix,White
3,3,A683644,*Zoey,7/13/14 11:02,7/13/14 11:02,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,Border Collie Mix,Brown/White
4,4,A748635,None,5/4/17 17:56,5/4/17 17:56,11003 Harris Branch Pkwy in Austin (TX),Stray,Normal,Cat,Unknown,9 months,Domestic Shorthair Mix,Blue

In [9]:
pd.read_sql_query('''SELECT * FROM outcomes LIMIT 5''', conn)

,id,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,0,A741715,*Pebbles,1/11/17 18:17,1/11/17 18:17,3/7/16,Adoption,None,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Calico
1,1,A658751,Benji,11/13/16 13:38,11/13/16 13:38,7/14/11,Return to Owner,None,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
2,2,A721285,None,2/24/16 14:42,2/24/16 14:42,2/24/14,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Black/Gray
3,3,A746650,Rose,4/7/17 11:58,4/7/17 11:58,4/6/16,Return to Owner,None,Dog,Intact Female,1 year,Labrador Retriever/Jack Russell Terrier,Yellow
4,4,A750122,Happy Camper,5/24/17 18:36,5/24/17 18:36,4/8/17,Transfer,Partner,Dog,Intact Male,1 month,Labrador Retriever Mix,Black